<!--This is the user view. You can click on the two buttons to switch between user PinList and user BoardList. Href wasn't working with a button, so an a tag was styled with materialize button. -->


<div class="row">
<h1>Your Boards</h1>
</div>
<div class="row">
<a class="waves-effect waves-light btn" ng-href="#!/pinList"><i class="material-icons right">add_location</i>Pins</a>
<button class="waves-effect waves-light btn disabled"><i class="material-icons right">dashboard</i>Boards</button>
</div>
<div class="col s10">
	<div class="row">
        <div class="col s3 m2">
          <div class="card">
            <div class="card-image center">
              <a ng-href="#!/boards/addNewBoard"><i class="large material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Click the + to add a new board to your wall.</p>
            </div>
          </div>
        </div>
   </div>
</div>

<div class="row">
  <div ng-repeat="stuff in boards">
    <div class="col s7 m4">
      <div  class="card">
        <div class="card-image">
          <img src="{{stuff.imageURL}}">
          <span class="flow-text textShadow card-title">{{stuff.title}}</span>
            <div ng-controller="BoardPinsCtrl">
            <a ng-click="showAllBoardPins(stuff.title)" class="btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">dashboard</i></a> 
            </div>
        </div>
        <div class="card-content">
          <p>{{stuff.description}}</p>
          <a ng-click="showEditBoard()" ng-href="#!/{{stuff.id}}/editboard" class="btn-floating btn-small waves-effect waves-light yellow"><i class="material-icons">edit</i></a>
          <a ng-click="deleteBoard(stuff.id)" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">remove_circle</i></a>
        </div>
      </div>
    </div>
  </div>
</div>

