<!-- Home is populated with the navbar and all cards randomly populated from firebase regardless of user logged in -->


  <div ng-controller="navCtrl" class="row" ng-show="isLoggedIn">
<div class="row">
   <div ng-repeat= "pin in pins">
    <div class="col s7 m4">
      <div class="card">
        <div class="card-image" ng-controller="addPinCtrl">
          <img style="height: 200px" src="{{pin.imageURL}}">
          <span class="flow-text textShadow card-title">{{pin.title}}</span>
          <a ng-click="buttonClick()" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">place</i></a>
        </div>
        <div class="card-content">
          <p>{{pin.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->



