<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">pregnant_woman</i>Lakeishia-less</a>
      <ul class="right hide-on-med-and-down">
        <li><i class="material-icons">search</i>
          <input type="text" name="pinSearch" placeholder="Search">
        </li>
        <li><a href="#"><i class="material-icons">home</i></a></li>
        <li><a href="#"><i class="material-icons">person</i></a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>