
<!--This is the static navbar that includes a search bar, home button, account button and logo -->

<nav ng-controller="navCtrl">
    <div class="nav-wrapper">
      <div class="left">
        <a href="#!" class="brand-logo"><i class="material-icons">pregnant_woman</i>Lakeishia-less</a>
      </div>
        
      <div>
          <ul class="right hide-on-med-and-down">
          <li><a ng-show="isLoggedIn" href="!#/home"><i class="material-icons">home</i></a></li>
          <li ng-controller="userCtrl"><a ng-show="!isLoggedIn" ng-click="loginGoogle()">Google Login</a></li>
          <li><a ng-show="isLoggedIn" ng-click="logout()">Logout</a></li>
          </ul>
      </div>
    </div>
  </nav>
