<h2>{{title}}</h2>

<div class="row">
    <form class="col s12">
      <div class="row">
        <label for="board_title">Board Title</label>
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" ng-model="board.title">
        </div>
      </div>
      <div class="row">
        <label for="board_description">Description</label>
        <div class="input-field col s12">
          <input id="description" type="text" class="validate" ng-model="board.description">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        <script type="text/javascript">
           $(document).ready(function() {
            $('select').material_select();
            });
        </script>
          <select>
            <option value="" disabled selected>Choose A Category</option>
            <option value="1">Animals and Pets</option>
            <option value="2">Architecture</option>
            <option value="3">Art</option>
            <option value="4">Cars</option>
            <option value="5">Celebrities</option>
            <option value="6">Design</option>
            <option value="7">Eduction</option>
            <option value="8">Food</option>
            <option value="9">Health and Fitness</option>
            <option value="10">History</option>
            <option value="11">Humor</option>
            <option value="12">Science</option>
            <option value="13">Sports</option>
            <option value="14">Travel</option>
            <option value="15">Weddings</option>
            <option value="16">Other</option>
          </select>
          <label>Category Select</label>
        </div>
      </div>
      <div class="row">
        <label for="image_URL">Image URL</label>
        <div class="input-field col s12">
          <input id="imageURL" type="text" class="validate" ng-model="board.imageURL">
        </div>
      </div>
      <div class="row">
      	<div class="input-field col s12">
          <button class="waves-effect waves-light btn" ng-click="submitBoard()">{{submitButtonText}}</button>
        </div>
      </div>
    </form>
  </div>

 