<!-- materialize is used in our partials, it requires class=validate, and the ng-models will use the addNewPinCtrl to populate the $scope.pin object. The ng-click on the bottom uses the submitPin() in our controller to default back to the pinList page. -->

<div class="row">
  <div class="col s9">
    <h2>{{title}}</h2>
  </div>
  <div class="col s3">
      <a class="waves-effect waves-light btn red" ng-href="#!/pinList">
      <i class="large material-icons left">highlight_off</i>Exit</a>
  </div>
</div>

<div class="row">
    <form class="col s12">
      <div class="row">
        <label for="pin_title">Title</label>
        <div class="input-field col s12">
          <input id="title" type="text" class="validate" ng-model="pin.title">
        </div>
      </div>
      <div class="row">
        <label for="pin_description">Description</label>
        <div class="input-field col s12">
          <input id="description" type="text" class="validate" ng-model="pin.description">
        </div>
      </div>
      <div class="row">
        <label for="site_URL">Website URL</label>
        <div class="input-field col s12">
          <input id="siteURL" type="text" class="validate" ng-model="pin.siteURL">
        </div>
      </div>
      <div class="row">
        <label for="image_URL">Image URL</label>
        <div class="input-field col s12">
          <input id="imageURL" type="text" class="validate" ng-model="pin.imageURL">
        </div>
      </div>
      <div class="row">
      <label for="boardID">Board Selection</label>
        <div class="input-field col s12">
          <div ng-controller="boardListCtrl">
         <select name="boardCatetory" class="browser-default" name="BoardTitle" ng-model="pin.boardID">
            <option value="" disabled selected>Save to a board</option>
            <option ng-repeat="board in boards" value="{{board.title}}">{{board.title}}</option>           
         </select>

        </div>
      </div>
      </div>
      <div class="row">
      	<div class="input-field col s12">
          <button class="waves-effect waves-light btn" ng-click="submitPin()"><i class="large material-icons">fiber_pin</i>{{submitButtonText}}</button>
        </div>
      </div>
    </form>
  </div>