
<div ng-repeat= "pin in pins">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="{{pin.imageURL}}">
          <span class="card-title">{{pin.title}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">place</i></a>
        </div>
        <div class="card-content">
          <p>{{pin.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Inside the user page, when user can click on pins button on the board page, this will repopulate the DOM with individual card/pins from the users board. -->